

@font-face {
  font-family: PrimaryFont;
  src: url(assets/Silkscreen-Regular.ttf);
}

#root {
  max-width: 100%;
  margin: auto 0;
  font-family: PrimaryFont, "Helvetica", sans-serif;
  text-align: center;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.modal-content, .table {
  font-family: PrimaryFont, "Helvetica", sans-serif !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;

}

h1 {
  padding: 2%;
}

h2 {
 padding: 2%;
}

h3 {
  padding: 2%;
 }

.modal-90w {
  min-width:90%;
}



